@page "/genre/edit/{GenreId:int}"
@inject IGenreRepository genreRepository
@inject NavigationManager  navigationManager

<h3>EditGenre</h3>

@if (genre != null)
{
    <GenreForm Genre="genre" OnValidSumit="Edit" />
}

@code {
    [Parameter] public int GenreId { get; set; }
    public Genre genre;

    protected override async Task OnInitializedAsync()
    {
        genre = await genreRepository.GetGenres(GenreId);
    }

    private async Task Edit()
    {
        await genreRepository.UpdateGenre(genre);
        navigationManager.NavigateTo("genres");
    }
}
